<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="GoogleGeocodingApi" value="https://maps.googleapis.com/maps/api/geocode/xml?address="/>
    <add key="ApiKey" value="AIzaSyCva5NKDMIoycinvXynSwCSdUiU8Yqvx7k"/>
  </appSettings>
</configuration>